In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.7297,-155.0900,72.81,93,38,3.00,US,2021-06-01 16:01:08
1,1,Ushuaia,-54.8000,-68.3000,28.96,93,95,3.53,AR,2021-06-01 16:01:53
2,2,Arraial Do Cabo,-22.9661,-42.0278,73.08,77,15,10.65,BR,2021-06-01 16:04:55
3,3,Moron,-34.6534,-58.6198,64.83,52,90,4.00,AR,2021-06-01 16:05:57
4,4,Bowen,-20.0167,148.2333,66.88,82,22,9.46,AU,2021-06-01 16:06:37

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Kantunilkin,21.0917,-87.4500,85.95,41,26,4.29,MX,2021-06-01 16:05:07
9,9,Kahului,20.8947,-156.4700,79.84,76,36,5.01,US,2021-06-01 16:02:44
18,18,Riberalta,-10.9833,-66.1000,89.31,48,83,1.50,BO,2021-06-01 16:06:41
22,22,Balaipungut,1.0500,101.2833,78.84,88,89,2.44,ID,2021-06-01 16:06:43
24,24,Faanui,-16.4833,-151.7500,79.34,74,69,15.17,PF,2021-06-01 16:04:54
31,31,Catuday,16.2923,119.8062,83.12,77,100,10.38,PH,2021-06-01 16:06:45
32,32,San Patricio,28.0170,-97.5169,79.48,65,95,11.39,US,2021-06-01 16:05:26
33,33,Lannion,48.7500,-3.4167,76.95,43,0,11.50,FR,2021-06-01 16:06:45
40,40,Aksu,41.1231,80.2644,80.69,26,100,5.79,CN,2021-06-01 16:06:47
44,44,Georgetown,5.4112,100.3354,83.89,82,20,1.01,MY,2021-06-01 16:05:01

In [18]:
preferred_cities_df.count()

City_ID       157
City          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
Country       156
Date          157
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6    Kantunilkin      MX     85.95  21.0917  -87.4500
9        Kahului      US     79.84  20.8947 -156.4700
18     Riberalta      BO     89.31 -10.9833  -66.1000
22   Balaipungut      ID     78.84   1.0500  101.2833
24        Faanui      PF     79.34 -16.4833 -151.7500
31       Catuday      PH     83.12  16.2923  119.8062
32  San Patricio      US     79.48  28.0170  -97.5169
33       Lannion      FR     76.95  48.7500   -3.4167
40          Aksu      CN     80.69  41.1231   80.2644
44    Georgetown      MY     83.89   5.4112  100.3354

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Kantunilkin,MX,85.95,21.0917,-87.4500,Posada Paraiso
9,Kahului,US,79.84,20.8947,-156.4700,Maui Seaside Hotel
18,Riberalta,BO,89.31,-10.9833,-66.1000,Hotel Colonial
22,Balaipungut,ID,78.84,1.0500,101.2833,
24,Faanui,PF,79.34,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
31,Catuday,PH,83.12,16.2923,119.8062,GResort
32,San Patricio,US,79.48,28.0170,-97.5169,"Motel 6 Sinton, TX"
33,Lannion,FR,76.95,48.7500,-3.4167,Hotel Arcadia
40,Aksu,CN,80.69,41.1231,80.2644,Pudong Holiday Hotel
44,Georgetown,MY,83.89,5.4112,100.3354,Cititel Penang

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))